/* INDEX SAYFASI */
body.index {
    font-family: Arial;
	background-color: #CE93D8;
}

.index-header {
    background-color: #9b5de5;
    padding: 10px;
    text-align: center;
}

.index-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer.site {
    background: #9b5de5;
    color: white;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
}

.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/* ÜZGÜN SAYFASI TASARIMI */

.sad-body{
    font-family: Arial;
    background-color: #0f172a;
    color: #e5e7eb;
    text-align: center;
}

.sad-title {
    color: #6D4C41;
}

.sad-text {
    margin-bottom: 15px;
}

.sad-title{
    color: #e5e7eb;
}

.sad-header{
    background-color: #1e293b;
    padding: 15px;
    text-align: center;
}

.sad-nav ul{
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.sad-list li{
    margin-bottom: 10px;
}

.sad-footer{
    background: #1e293b;
    color: white;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
}

/* AŞIK SAYFASI TASARIMI */

.asik-body {
    font-family: Arial;
    background-color: #FFFACD; 
    color: #CD853F;
    text-align: center;
}

.asik-title {
    color: #CD853F;
}

.asik-text {
    margin-bottom: 15px;
}

.asik-header {
    background-color: #FFFFE0;
    padding: 15px;
    text-align: center;
}

.asik-nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.asik-list li {
    margin-bottom: 10px;
}

.asik-footer {
    background: #FFFFE0;
    color: #CD853F;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
}

/* ENERJİK SAYFA TASARIMI */

.energy-body {
    font-family: Arial;
    background-color: #DEB887;
    color: #6D4C41;
    text-align: center;
}

.energy-title {
    color: #6D4C41;
}

.energy-text {
    margin-bottom: 15px;
}

.energy-header {
    background-color: #F5DEB3;
    padding: 15px;
    text-align: center;
}

.energy-nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.energy-list li {
    margin-bottom: 10px;
}

.energy-footer {
    background-color: #F5DEB3;
    color: #6D4C41;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
}

/* ESKİLER SAYFASI TASARIMI */

.old-body {
    font-family: Arial;
    background-color: #212121;   
    color: #BCAAA4;              
    text-align: center;
}

.old-title {
    color: #BCAAA4;              
}

.old-text {
    margin-bottom: 15px;
    color: #BCAAA4;
}

.old-header {
    background-color: #FFF8DC;   
    padding: 15px;
    text-align: center;
}

.old-nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.old-list li {
    margin-bottom: 10px;
}

.old-footer {
    background-color: #FFF8DC; 
    color: #3E2723;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
}

/* MUTLU SAYFASI TASARIMI */

.mutlu-body {
    font-family: Arial;
    background-color: #F48FB1;  
    color: #D32F2F;             
    text-align: center;
}

.mutlu-title {
    color: #D32F2F;
}

.mutlu-text {
    margin-bottom: 15px;
    color: #D32F2F;
}

.mutlu-header {
    background-color: #90CAF9;  
    padding: 15px;
    text-align: center;
}

.mutlu-nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.mutlu-list li {
    margin-bottom: 10px;
}

.mutlu-footer {
    background-color: #90CAF9;  
    color: #D32F2F;
    margin-top: 40px;
    padding: 15px;
    text-align: center;
}